.banner{
  width: 100%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner1{
  background-image: url(https://images.unsplash.com/photo-1585130401366-fe05a8d813c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2756&q=80);
}

.banner2{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1694513779643.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=Li1ut6IAJo1Y0%2BHJKCqtaV7FjMSHAItqUcyRxRVcZWq8BSqtgwF0o6qUhd7iRFqqx0UWxoWRCeP2%2FlggwJkNCTZKQ24l7F8iUjCG8zblbjD5ZO2S38ym1hB%2BeNK8rXB7D4QqcB0veE92esDlaUTjjeCQdDELs3KTs6CTGr1qMFt%2B1R8ckiBQDqnAJA5j313GJTO3FwydLp7pZOMeYqL0SbaDxKc09E8xT%2FmiQtLeH1Br4oeXfbTjm98Biv%2Bpz%2FHhBAmlIUM8X1pa0hrFzcjcHmjYUQqYEXsZQtLiCtImZfx7CYV%2FNBcPdrkQ4hGxodI0vF4t4ixOgqN1JUpxnc%2F55Q%3D%3D);
}
