.home{
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1574227492706-f65b24c3688a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2832&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding-top: 20px;
  background-color: rgba(55,55,55,0.6);
  padding-bottom: 20px;
}

.homebtn-img{
  position: relative;
  background-size: cover;
  background-position: center;
  height: 150px;
}

.homebtn-img1{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1694094312646.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=ThupenNU8sRhs%2FFEL16ufyZLqdd%2FCBiypwGcjX6BlJDxqVwItcD713LnxLdf%2Bhx%2FXECwYPrvimschgpFS2k8p0quL%2F77ttbQkyLcPFIfpgrYmlBcjG7XW%2FhGdfUUEN9eb4ug9ZBD0%2B3gKOzpAZ4S7Q8%2BZ5QDwAXrK2fhQvkA%2FU0QftDicFeJa1cuHCCST7lqsRJ0%2FUcVmEjGYJlO%2Fcp3LvvEtEyIiAeIzs4YtgRbDwYI4FY0UyV7XM25spFRcIkqmsv7U6q2D4K8qdMtYUvWQ3zbREs5%2F%2Fsx%2BrlssMObSDk7CIQi5LceoQaxD69O1hwuMLGAySPLW%2BMtbE7TGJqT0g%3D%3D);
}

.homebtn-img2{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1694095239254.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=OmEqPdCcLB8OtLp1Bl5TCMQe%2BDhxNtJ9Pr6XCSOmLptb56QBle1HPQaAu2HEA8WesLvsWDFrnYUHJbpi4lO8TVYYWZq6waffsbmDh%2BG0d6K%2FZmNPPvEJLTzIs6fKSW2lWTBsFMuOOU4Is6cFlITiek1YB5GkqYWYOFSfb9BzaTSmNUkj6Q%2B6D2%2BUYUtjaosqVzo8JNfE1cXkX5BX0U%2BwAufcskjHU6hm4jRgR%2FkOp57SJZxWoL0vr%2BbyyeXjsLwuO5qBeNWAjKFXKaXX9hGyEaXQUvG6KGouR8qs2lWqFn6RwA%2FbyeVL3%2F5Eo4ei%2B46FtMclMzm2DFsDO1qh4KFiVQ%3D%3D);
}

.homebtn-img3{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1693569672698.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=P9ADfqB%2BnBIzNAaSGrv2fqRJO3wumqITRPZp%2BXYnf0u7XbGWEMT3sHfmHGXKKKHDxAwskGIqRd8Lylx5RDMqkBCWx8gJezU9jkDh0n7qTFPQ%2FH%2BoHlRATUw1chv6Q15bLnOGycXHAZn%2B8q0hx4zhcfUotpY4lre6aRScx7DASFg5wnH%2B7OZHoEdUtbOXAzqLQruowBo9D1sa5wdtcdS3T9IvKfJmW65joy0Rn2MWJ8K2j%2BTx5HjlwnbwXoM3IInBGZv%2Bvaj%2BhB%2BiXXP8Vkoho9FAtEN3p2opHxLa2jmQzwc7JvNwYyUpisCpYSbC5A5RKZ2AK3quyZL5jdsD8c6hPA%3D%3D);
}

.homebtn-img4{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1694093178196.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=YbuKPdhdTIsabdJTXrmZFnt60N51k7IVf6GfJqCB3%2FbII7hUtAzKu2xqCU2Bi1okGizpW3CHxa3VC0inmrsSt8FHakqRt24dhEhmGARC8%2BI3%2FpUjASn546gbIiMOjArIMT%2BD2l3FkIvXnP%2FrCJ%2FWygUr%2BVwxdpBz5m1jGDSzR%2BLps7CQkr2kRiifNzTuaQuiE72U0mvgY6awTloqameaB4pKmSjWWu6ZMD%2BB5fIB9vlZ7965jAxWclD3rTctEuArSVg2tfrNaAv4QWGeiwKqhZc1cYeuvzfuxt0jYiOnYXYCfngbfcG%2Fd8AoY71Zk0dmoWFQGiy9fLQ1ySWwj4lnTQ%3D%3D);
}

.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

.more{
  top: 55vh;
  &:active{
    color: white !important;
  }
}

.about{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://images.unsplash.com/photo-1575642158817-5bc47aea404f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2748&q=80) no-repeat fixed;  
  background-size: cover;
  background-position: center;
}

.home-bottom-content{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1693569481654.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=cW0TewEQyGThvIWTGtAgTTpeHhA%2BOFLNphIxjExqHe1Vm5D1J5vPnzhC3tZhxJnTUuN9nuamFelQRsO6mcr6oFuUcghxauZ5tQzpgI%2BBFuxkCG66bQUHoGRD%2FZpPxwbx8pAqfokK2zDmasfIUhl3EXv%2B4dLZ%2FNH12tG270gHtpyvkDt25zxsvmPzt%2B5rCeWkvvvSnXrBHTLmbaYys%2F%2BCEIvRHSphEn5EyGIIzHfhrtmz%2FfHb6dWBAcFz0h6NOFWanSa4rNKLPth06VbGcrW7FpSA3KsPWrAZqtAq15Qrg8JE1M1ordAEyIa5A7SKFhc4aYFc%2FaAH6NljEWtbYOq%2Bhg%3D%3D) no-repeat fixed;  
  background-size: cover;
  background-position: center;
}
